body {
    font-family: "Century Gothic", arial;
    color: #104a4a;
    background-color: #c2c4c4;
}

.navbar {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: row-reverse;
  justify-content: space-around;
  font-size: clamp(.7rem, 2.5vw, 1rem); 
}

.navbar a{
    font-size: 1.5em;
    text-decoration: none;
    color: #104a4a;
}

.about {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    margin: auto;
}

.about-desc h1{
    font-size: em;
    width: 100%;
    text-align: center;
}

.about-desc p{
    font-size: 1.25em;
}

#about-img {
    width: 250px;
    border-radius: 50%;
    border: 2px solid #104a4a;
    display: block;
    margin: auto;
    margin-top: 50px;
}

a {
    text-decoration:underline;
    color: #104a4a;
}

.spacer {
    border-bottom: 1px solid #104a4a;
    width: 90%;
    margin: auto;
}