body {
    font-family: "Century Gothic", arial;
    color: #6658f0;
    text-shadow: 1px 1px #8b5d34;
    background-color: #ADD8E6;
}

  .navbar {
    width: 100%;
    background-color:transparent;
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
}

.navbar a{
    font-size: 1.5em;
    text-decoration: none;
    color: #6658f0;
}
  
  h1, #description {
    text-align: center;
  }
  
  h1, p {
    color: white;
  }
  
  p {
    margin-bottom: 5px;
  }
  
  #description {
    font-style: italic;
    margin-bottom: 15px;
  }
  
  input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
  }
  
  input[type="number"] {
    width: 32%;
    margin: 5px 0 10px 0;
  }
  
  fieldset {
    color: white;
    border: 4px solid #3b3b4f;
    width: 350px;
    margin: auto;
  }
  
  textarea  {
    margin-top: 7px;
  }
  
  #submit {
      display: block;
      padding: 0.75rem;
      background-color: inherit;
      border: 4px solid #3b3b4f;
      color: white;
      cursor: pointer;
      margin: 10px auto auto auto;
  }
  
  .separator {
    padding: 7px;
    margin-bottom: 15px;
    border-bottom: 3px solid #3b3b4f;
  }
  
  select {
    height: 23px;
  }
  
  ::placeholder, select {
    color: gray;
  }