body {
    font-family: "Century Gothic", arial;
    color: #6658f0;
    text-shadow: 2px 2px #8b5d34;
    background-color: #8b81f2;
}

#checkpoint-text {
    width: 350px;
    display: block;
    margin: 30px auto 30px auto;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
  
video {
    object-fit: cover;
    width: clamp(700px, 150%, 1200px);
}

#about-me {
    margin: auto;
    text-align: center;
    width: 55%;
}

#spotify-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 300px;
}