body {
    font-family: "Century Gothic", arial;
    color: #6658f0;
    text-shadow: 1px 1px #8b5d34;
    background-color: #8175fa;
}

h1 {
    text-shadow: -1px 1px #8b5d34;
}

.navbar {
    width: 100%;
    background-color:transparent;
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
}

.navbar a{
    font-size: 1.5em;
    text-decoration: none;
    color: #6658f0;
}

#checkpoint-text {
    width: 350px;
    display: block;
    margin: 30px auto 30px auto;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
  
video {
    object-fit: cover;
    width: clamp(700px, 150%, 1200px);
}

#about-me {
    margin: auto;
    text-align: center;
    width: 55%;
}

#spotify-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 365px;
}

